*.class

# Package Files #
*.jar
*.war
*.ear
.DS_Store
/build/
/dist/
/modules/nmc_util/build/
/modules/nmc_swing/build/
/modules/nmc_swing/nbproject/private/
/modules/nmc_dialogs/build/
/modules/nmc_dialogs/nbproject/private/
/modules/nmc_about/build/
/modules/nmc_about/nbproject/private/
/modules/nmc_util/nbproject/private/
/modules/almond_about/nbproject/private/
/modules/almond_dialogs/nbproject/private/
/modules/almond_swing/nbproject/private/
/modules/almond_util/nbproject/private/
/modules/almond_util/build/
/modules/almond_swing/build/
/modules/almond_about/build/
/modules/almond_dialogs/build/
/modules/actions_osx/nbproject/private/
/modules/almond_actions_osx/nbproject/private/
/modules/almond_actions/build/
/modules/almond_actions_osx/build/
/modules/almond_resources/build/
/modules/almond_resources/nbproject/private/
/modules/almond_actions/nbproject/private/
/modules/se.trixon.almond.actions/nbproject/private/
/modules/se.trixon.almond.actions.osx/nbproject/private/
/modules/se.trixon.almond.core/build/
/modules/se.trixon.almond.actions.osx/build/
/modules/se.trixon.almond.actions/build/
/modules/se.trixon.almond.core/nbproject/private/
/modules/se.trixon.almond/nbproject/private/
/modules/se.trixon.almond/build/